@import url("https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&display=swap");
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: "Google Sans Code", monospace;
  --font-mono: var(--font-geist-mono);

  /* Dina anpassade färger här */
  --color-shadow-grey: #2f242c;
  --color-button-blue: #724cf9;
  --color-footer-blue: #0a384b;
  --color-sunflower-gold: #e6af2e;
  --color-burnt-tangerine: #e03616;
  --color-charcoal-grey: #555358;
  --color-bakgrund: #f9f2da;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

div {
  min-height: 100vh; /* Se till att body täcker hela höjden */
  background: var(--color-bakgrund);
  color: var(--foreground);
  font-family: "Google Sans Code", monospace;
}
